{% extends "base.html" %}
{% block content %}
<h1>Tous les produits.</h1>
<div class="product-grid">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p>{{ "%.2f" | format(product.price) }} €</p>
        <form action="{{ url_for('main.add_to_cart') }}" method="post">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="hidden" name="quantity" value="1">
            <button type="submit" class="btn">Acheter</button>
        </form>
    </div>
    {% else %}
    <p>Aucun produit disponible</p>
    {% endfor %}
</div>
{% endblock %}
